.card {
  width: 80vw;
  margin: 0 auto;
  background: #FDFDFD;
  border-radius: 10px;
  box-shadow: 0 0 20px 4px rgba(0,0,0,0.10);
  .word {
    font-size: 40px;
    padding: 20px 10px 10px;
  }
  .example {
    font-size: 18px;
    line-height: 30px;
    padding: 10px 10px 20px;
  }
}
